

<div style="width: 800px;">

    <br> <div align="center">
        <h1>Transferencia entre Almacenes</h1>
     </div><br>
    
     <br> <div style=" width: 100%; display: flex; align-items: center; align-self: center; text-align: center;">
        <div style="width: 50%;">
            <mat-label>Almacén de Origen</mat-label><br>
            <mat-form-field style="width: 70%;">
                <input matInput type="text" readonly="true">
            </mat-form-field>
        </div>

        <div style="width: 50%;">
            <mat-label>Almacén de Destino</mat-label><br>
            <mat-form-field style="width: 70%;">
                <mat-select>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2 (disabled)</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
   </div><br>


   <br><div style=" width: 100%; display: flex; align-items: center; align-self: center; text-align: center;">
        <div style="width: 50%;">
            <mat-label>Ubicación</mat-label><br>
            <mat-form-field style="width: 70%;">
                <input matInput type="text" readonly="true">
            </mat-form-field>
        </div>

        <div style="width: 50%;">
            <mat-label>ID de Usuario</mat-label><br>
            <mat-form-field style="width: 70%;">
                <input matInput type="text" readonly="true">
            </mat-form-field>
        </div>
</div><br>


<br><div style=" width: 100%;" align="center">
   
        <button class="botones" >Transferir</button><br><br>

</div><br>