<button (click)="downloadPdf()">Download as PDF</button>
<div class="pages">
  <div id="page-1" class="page">
    <h1>1: Page 1 Heading- FreakyJolly.com</h1>
    <p>Page 1 sample paragraph.</p>
    <img src="../assets/fj-logo.png" alt="Sample Image for Page 1" />

  </div>
  <div id="page-2" class="page">
    <h1>Page 2 Heading- FreakyJolly.com</h1>
    <p>Page 2 sample paragraph.</p>
    <img src="../assets/fj-logo.png" alt="Sample Image for Page 2" />
  </div>
  <div id="page-3" class="page">
    <h1>Page 3 Heading- FreakyJolly.com</h1>
    <p>Page 3 sample paragraph.</p>
    <img src="../assets/fj-logo.png" alt="Sample Image for Page 3" />
  </div>
</div>