
<div align="center"> <mat-icon class="icon-display" >warning</mat-icon> </div>
<!-- <h2 mat-dialog-title align="center"> warning</h2> -->
<mat-dialog-content>
    <div align="center">Está apunto de guardar datos del Esterilizador</div>
    <div align="center">¿Está seguro que desea Guardar?</div>
</mat-dialog-content>

<mat-dialog-actions>
 
<!--<button mat-raised-button mat-dialog-close color="primary">Cancelar</button> 
  <button mat-raised-button mat-dialog-close cdkFocusInitial color="accent">Aceptar</button> -->
</mat-dialog-actions>
