<!------------------------------ INICIO DE ENCABEZADO -------------------------------->
<h2 align="center">Material de otras Áreas y Proveedor Externo</h2>


<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Solicitudes</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>

<div align="end">
  <button class="botones" style=" margin: 5px;" matTooltip="Generar reporte" (click)="generarPDF()">Reporte</button>
  <button class="botones" style=" margin: 5px;" matTooltip="Generar préstamo" (click)="goPlaces2()">Préstamo</button>
</div>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Buscador</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>


<div align="end">

  <mat-form-field class="menu_desplegable">
    <mat-label>Área de trabajo</mat-label>
    <mat-select (selectionChange)="changeArea($event.value)">
      <mat-option *ngFor="let x of area; let i = index" [value]="area[i]">{{area[i].nombre}}</mat-option>
    </mat-select>
  </mat-form-field> 

  <mat-form-field>
    <mat-label>Elige la fecha</mat-label>
    <input matInput [matDatepicker]="dp">
    <mat-hint>{{getDateFormatString()}}</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <button class="botones" style=" margin: 10px;" matTooltip="Aplicar buscador">Aplicar</button>
</div>


<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Resultados</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>
<!------------------------------ FILTRO -------------------------------->
<div align="begin">
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda" #input>
  </mat-form-field>
</div>
<!------------------------------ FIN DE ENCABEZADO -------------------------------->

<div class="mat-elevation-z8" id="page-1" class="page">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="ticket">
      <mat-header-cell *matHeaderCellDef> Ticket </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Ticket}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef matTooltip="Fecha de recepción"> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Fecha}} </mat-cell>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="QR">
      <mat-header-cell *matHeaderCellDef matTooltip="Código QR"> QR</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.QR}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef matTooltip="Nombre del material"> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Nombre}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="turno">
      <mat-header-cell *matHeaderCellDef> Turno </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Turno}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="prioridad">
      <mat-header-cell *matHeaderCellDef> Prioridad </mat-header-cell>
      <mat-cell *matCellDef="let element"> 

        <button mat-fab class="boton_alta" *ngIf="element.Prioridad == 'alta' " >alta</button>
        <button mat-fab class="boton_media" *ngIf="element.Prioridad == 'media' ">media</button>
        <button mat-fab class="boton_baja" *ngIf="element.Prioridad == 'baja' ">baja</button>
        
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let element">  <button class="botones" style=" margin-right: 20px;" matTooltip="Entregar material" (click)="goPlaces()">Entregar</button> </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- <mat-row (click)="test()" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of elementos"></mat-paginator>
</div>

