.box {
  display: flex;
  align-items: center;
}

.push {
  margin-left: auto;
}

.navegacion {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  list-style: none;
  padding: 0 10px 0 10px;
  margin: 0;
  align-items: center;

}

a {
  text-decoration: none;
  color: on-primary;
  cursor: pointer;
}

a:hover,
a:active {
  color: primary-dark;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
}

.mat-card {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 255, 255, 0);
}

.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.mat-card-image {
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
  padding: 15px;
}

.mat-card-image:first-child {
  margin-top: -16px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.circular {
  border-radius: 50%;
}

.mat-card-header-text {
  margin: 0 16px;
}

.mat-card-title {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

content,
.mat-card-subtitle {
  font-size: 14px;
}

.mat-card-subtitle {
  color: rgba(255, 255, 255, 0.54);
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: -8px;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 16px;
}

.mat-card-content, .mat-card-subtitle {
  font-size: 10px;
}

