<mat-toolbar color="primary">
    <button mat-icon-button  matTooltip="Menu" (click)="onMenuToggleDispatch()">
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/">TRACY</span>
    <span class="toolbar-item-spacer"></span>
    <p  class="temaHora">
      {{ message | date: "EEE d 'de' MMM, YYY. hh:mm:ss a"}}
    </p>
    <button mat-icon-button matTooltip="Ingresar" routerLink="/auth/login" *ngIf="usuario==null" (click)="start()" >
        <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Salir" routerLink="/" *ngIf="usuario!=null" (click) = "logout(); stop()">
        <mat-icon>logout</mat-icon>
    </button>
 
    <button mat-icon-button matTooltip="Mi cuenta" [matMenuTriggerFor]="userAccountMenu" >
       <!--  <img  class="images" src="{{usuario!.foto}}" width="40px" class="circular" /> -->
       <img  class="images" src="/assets/generales/silueta.jpg" width="40px" class="circular" />
    </button>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="auth/edition">
            <mat-icon>person</mat-icon><span>Mis datos</span>
        </button>
        <button mat-menu-item routerLink="auth/edition">
            <mat-icon>settings</mat-icon><span>Ajustes</span>
        </button>
        <button mat-menu-item routerLink="static/about">
            <mat-icon>help</mat-icon><span>Ayuda</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/" (click) = "logout()" >
            <mat-icon>exit_to_app</mat-icon>Salir
        </button>
    </mat-menu>
</mat-toolbar>