<div  *ngIf="editar==false">
<form [formGroup]="Esterilizador" (ngSubmit)="submitted()">

  <div class="contenedor">

    <!----------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------->
      <div class="componente1" *ngFor="let equipo of esterilizadores; index as iii;">
        <br>
        <h1 align="center" style="font-size: 18px; padding-bottom: 3%;">{{equipo.nombre}}</h1>
          
          <div style="display: flex; width: 100%; margin: auto; align-items: center; align-content: center; align-self: center; ">

            <div style=" width: 20%; margin: auto; margin-left: 13%;">
                <label style="font-weight: 600;">Estatus:</label>
            </div>
          <div style=" width: 80%;">
            {{selected[iii]}}
          </div>
      </div> 

      <br>
      <label style="margin-left:10%; font-weight: 600;">Prueba de Bowie & Dick:</label><br>
      <div  align="center">
        <mat-form-field  style=" width: 80%; padding-top: 2%;">
          <input matInput type="text" placeholder="Introduzca Folio"  (change)="changeTexto($event, iii)" formControlName="PruebaBrDk1">
        </mat-form-field>
      </div> 
          
      <div style="display: flex; justify-content: center; width: 100%;">
        <mat-icon (click)="siPaso(iii)"  aria-hidden="false" aria-label="Example home icon" fontIcon="check_circle" style="color: green; width: 60px; height: 60px; font-size: 60px;" matTooltip="El equipo pasó la Prueba de Bowie & Dick"></mat-icon>
        &nbsp; &nbsp; &nbsp;
        <mat-icon (click)="noPaso(iii)" aria-hidden="false" aria-label="Example home icon" fontIcon="cancel" style="color: red; width: 60px; height: 60px; font-size: 60px;" matTooltip="El equipo no paso la Prueba de Bowie & Dick " ></mat-icon>
      </div>

      <br>
          <div  align="center">
            <a style="border: none; color: white;"> <button class="botones" (click)="irEsterilizador(iii)" [disabled]="btnSiguiente[iii]==true">Siguiente</button></a>
  
          </div> <br>
      </div>
  </div>

</form>
</div>
<app-detalleesterilizador [EquipoADetallar]="EquipoADetallar" *ngIf="editar==true"></app-detalleesterilizador>