.demo-table {
  width: 10%;
}

.mat-column-id {
  width: 10%;
}

.mat-column-Nombre {
  width: 20%; 
}

.mat-column-Descripcion {
  width: 20%;  
}

.mat-column-Marca {
  width: 20%; 
}

.mat-column-Cantidad {
  width: 10%;
  text-align: center;    
}

.mat-column-Caducidad {
  width: 10%;    
}
