.demo-table {
  width: 10%;
}

.mat-column-id {
  width: 10%;
}

.mat-column-Nombre {
  width: 20%; 
}

.mat-column-Descripcion {
  width: 20%;  
}

.mat-column-Marca {
  width: 20%; 
}

.mat-column-Cantidad {
  width: 10%;
  text-align: center;    
}

.mat-column-Caducidad {
  width: 10%;    
}
.botones {
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: #0f8f95;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 15px;
}


.botones:hover {
  text-align: center;
  background-color: #38b6ff;
  border: none;
  color: white;
  font-weight: 700;
}