<div align="center">
<mat-card class="mat-card">
  <img rounded
    mat-card-lg-image
    src="./assets/generales/tracy.png"
    alt="TRACY"
    width="200px"
  />
  <mat-card-title-group>
    <mat-card-title align="center" >
      <h1>
        <strong>
          SISTEMA DE TRAZABILIDAD PARA LA CENTRAL DE ESTERILIZACIÓN Y EQUIPOS CEYE</strong
        >
      </h1>
    </mat-card-title>
  </mat-card-title-group>
    <mat-divider vertical style="height:30px"></mat-divider>
    <mat-card-content align="center"> Para obtener más detalles y 
    avisos legales, ir a la pantalla <a><strong> Acerca de Tracy. </strong></a>
    </mat-card-content>
    <mat-divider vertical style="height:30px"></mat-divider>
  <mat-card-footer align="center">
    <p> 
       Powered by
    </p>
       <img mat-card-sm-image src="./assets/generales/smartest.png">
    <p>
      Derechos Reservados © SMARTEST 2024
    </p>
  </mat-card-footer>
</mat-card>
</div>