<!------------------------------ INICIO DE ENCABEZADO -------------------------------->
<h2 align="center">Lavado</h2>


<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Recepción de Set</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>

<!------------------------------ FILTRO -------------------------------->
<p align="end">
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda" #input>
  </mat-form-field>
</p>
<!------------------------------ FIN DE ENCABEZADO -------------------------------->

<div class="mat-elevation-z8" id="page-1" class="page">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="ticket">
            <mat-header-cell *matHeaderCellDef matTooltip="Ticket asignado"> Ticket</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ticket}} </mat-cell>
          </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef matTooltip="Fecha"> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
    </ng-container>



              <!-- Name Column -->
    <ng-container matColumnDef="cirugia">
        <mat-header-cell *matHeaderCellDef matTooltip="Procedimiento de cirugía"> Cirugía</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cirugia}} </mat-cell>
      </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="sala">
      <mat-header-cell *matHeaderCellDef matTooltip="Sala de cirugía"> Sala </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sala}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="turno">
        <mat-header-cell *matHeaderCellDef matTooltip="Turno de recepción"> Turno </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.turno}} </mat-cell>
      </ng-container>

          <!-- Position Column -->
    <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef matTooltip="Área de solicitud"> Área </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.area}} </mat-cell>
      </ng-container>

 <!-- Symbol Column -->
 <ng-container matColumnDef="accion">
    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">  <button   [ngClass]= "element.estado==false ? 'botones' : 'botones_click'"  
        style=" margin-right: 20px;" matTooltip="Procesar material" 
        (click)="lavarFila(element)"  >
        Procesar</button> </mat-cell>
  </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- <mat-row (click)="test()" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of elementos"></mat-paginator>
</div>


<!-- ================================= SEGUNDA TABLA ================================ ----------------->

<div class="mat-elevation-z8" *ngIf="verSegundaTabla" class="page">
    <h2 align="center">Material a asignar por lavadora</h2>
    <mat-table #table [dataSource]="dataSegundaTabla">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef matTooltip="Id único del material"> Id</mat-header-cell>
            <mat-cell *matCellDef="let material"> {{material.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef matTooltip="Nombre del material"> Nombre</mat-header-cell>
            <mat-cell *matCellDef="let material"> {{material.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef matTooltip="Cantidad del material"> Cantidad</mat-header-cell>
            <mat-cell *matCellDef="let material"> {{material.cantidad}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="lavadoras">
            <mat-header-cell *matHeaderCellDef> Lavadoras </mat-header-cell>
            <mat-cell *matCellDef="let material">   <button (click)="lavadora1(material)" class="botones" [ngClass]= "material.lavadora1==false ? 'botones' : 'botones_click'" style=" margin-right: 5px;" matTooltip="Lavadora 1" >1</button> 
                                                    <button (click)="lavadora2(material)"  class="botones" [ngClass]= "material.lavadora2==false ? 'botones' : 'botones_click'" style=" margin-right: 5px;" matTooltip="Lavadora 2" >2</button>
                                                    <button (click)="lavadora3(material)"  class="botones" [ngClass]= "material.lavadora3==false ? 'botones' : 'botones_click'" style=" margin-right: 5px;" matTooltip="Lavadora 3" >3</button>
            </mat-cell>
            
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="incidencia">
            <mat-header-cell *matHeaderCellDef> Incidencias </mat-header-cell>
            <mat-cell *matCellDef="let material">  <mat-icon class="botonwarning"  fontIcon="warning" 
                style="color: orange"  (click)="abrirDialogo(); incidencia(material)" 
                matTooltip="Generar Advertencia" ></mat-icon> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedSegundaColumns"></mat-header-row>
            <!-- <mat-row (click)="test()" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-row *matRowDef="let row; columns: displayedSegundaColumns;" class="element-row"></mat-row>
    
    </mat-table>
</div>

<p align="end">
    <button class="botones" style=" margin-right: 20px;" matTooltip="Cancelar Lavado">Cancelar</button>
    <button class="botones" style=" margin-right: 20px;" matTooltip="">Siguiente</button>
</p>


