.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .line {
    flex: 1;
  }
  
  .text {
    padding-left: 10px;
    padding-right: 10px;
  }

  .botones {
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #0f8f95;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 15px;
  }
  
  
  .botones:hover {
    text-align: center;
    background-color: #38b6ff;
    border: none;
    color: white;
    font-weight: 700;
  }
  .botones_click {
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: red;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 15px;
  }
  .boton_alta {
    background-color: red;
    color: black;
    font-weight: 700;
    margin: 10px;
  }
  .boton_media {
    background-color: orange;
    color: black;
    font-weight: 700;
    margin: 10px;
  }
  .boton_baja {
    background-color: yellow;
    color: black;
    font-weight: 700;
    margin: 10px;
  }
  .menu_desplegable {
    margin: 10px;
  }
  .botonwarning {
    transform: scale(2);
  }
  