<mat-card>
 
    <mat-card-actions align="start">
      <img mat-card-md-image src="./assets/generales/tracy.png">
    <mat-card-title align="end"> SISTEMA DE TRAZABILIDAD PARA LA CENTRAL DE ESTERILIZACIÓN Y EQUIPOS CEYE</mat-card-title>
    </mat-card-actions>
  
    <br/>
  
    <mat-card-content align="start"> 
     
        <div>
        <p> 1.1 (64 Bit)</p>
        <p> Derechos Reservados © SMARTEST 2024.</p> 
        <H5> Avisos Legales </H5>
        <p> El logotipo de TRACY y de SMARTEST son marcas registradas o marcas comerciales de SMARTEST en México.</p>
        <p> Los avisos, términos y condiciones pertenecientes a software, hardware o datos de terceros se encuentran en https://www.smartest.mx/.</p>
        <p> <a><strong>TRACY </strong></a> es creado por SMARTEST.</p>
        <p> La instalación y las adecuaciones del sistema TRACY estan limitadas a acciones de los técnicos de SMARTEST.</p>
        <p> Cualquier comentario sobre el uso del sistema TRACY comunicarse al correo contacto&#64;smartest.mx.</p>
        </div>
  
    </mat-card-content>
  
    <mat-card-content align="start"> 
     
     <div>
      <H5> Créditos </H5>
  
      <p> Gracias a todos nuestros colaboradores y a sus equipos de:</p>
      <p> INGENIERÍA &#11089; GESTIÓN DE PROYECTOS</p>
      <p> MARKETING DE PRODUCTOS &#11089; USABILIDAD &#11089; EXPERIENCIA DE USUARIO</p>
      <p> INVESTIGACIÓN &#11089; REPORTE DE CAMBIOS &#11089; SERVICIOS TÉCNICOS</p>
      <p> SOPORTE ADMINISTRATIVO &#11089; LEGAL</p>
      <p> INSTANCIACIÓN &#11089; PROGRAMAS DE DESARROLLO &#11089; BIBLIOTECAS DE DISEÑO</p>
      <p> PERFILES DE SIMULACIÓN &#11089; PRELANZAMIENTO</p>
      <p> DOCUMENTACIÓN &#11089; VERSIONES EN LA NUBE &#11089; INTEGRACIONES DE STOCK Y BASES DE DATOS &#11089; BIBLIOTECA DE CATÁLOGOS</p>
      <p> AYUDA &#11089; CAPACITACIONES &#11089; E-LEARNING</p>
      <p> COMUNICACIÓN &#11089; ASESORAMIENTO &#11089; CALIDAD</p>
  
     </div>
  
  </mat-card-content>
     
    <mat-card-footer align="end">
        
         <img  mat-card-sm-image src="./assets/generales/smartest.png">
      
     </mat-card-footer>
    
  </mat-card>