
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------- fila buscar ----------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->
<div align="center" style="align-items: center; align-content: center; ">
    <mat-label>Buscar:</mat-label>
    <mat-form-field class="input1">
      <input matInput type="text" [(ngModel)]="value1">
      @if (value1) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="value1=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    
    <button mat-icon-button style="height: 50px; width: 50px;"
        matTooltip="Buscar"
        matTooltipClass="example-tooltip-uppercase"
        aria-label="Button that shows a red tooltip">
      <mat-icon style="font-size: 30px;" matTooltip="Buscar">search</mat-icon>
    </button>


</div>

<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------- fila 2 ----------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->

<div style="display: flex; align-items: center;">
    <div style=" width: 80%; margin-left:10%; margin-right: 10%;">
      <label>Nombre:</label> <br>
        <mat-form-field style=" width: 100%">
     
          <input matInput type="text" [(ngModel)]="value2" placeholder="LAVADORA 1">
          @if (value2) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="value2=''">
            <mat-icon>close</mat-icon>
          </button>
                      }
        </mat-form-field>  </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------- fila 3 ----------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->

<div style="display: flex; align-items: center;">
    <div style=" width: 80%; margin-left:10%; margin-right: 1%;">
      <label>Marca:</label> <br>
        <mat-form-field style=" width: 100%">
     
          <input matInput type="text" [(ngModel)]="value3">
          @if (value3) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="value3=''">
            <mat-icon>close</mat-icon>
          </button>
                      }
        </mat-form-field>  
    </div>

<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->

<div style=" width: 100%; margin-left:1%; margin-right: 1%;">
      <label>Modelo:</label> <br>
        <mat-form-field style=" width: 100%">
           
            <input matInput type="text" [(ngModel)]="value4">
             @if (value4) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="value4=''">
                <mat-icon>close</mat-icon>
            </button>
                            }
        </mat-form-field>  
     </div>

<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->

    <div style=" width: 100%; margin-left:1%; margin-right: 10%;">
      <label>Número de serie:</label> <br>
        <mat-form-field style=" width: 100%">
           
            <input matInput type="text" [(ngModel)]="value5">
             @if (value5) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="value5=''">
                <mat-icon>close</mat-icon>
            </button>
                            }
        </mat-form-field>  
     </div>
</div>



<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------- fila 4 ----------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->

<div style="display: flex; align-items: center;">
  <div style=" width: 80%; margin-left:10%; margin-right: 1%;">
    <label>Ciclo Lavado:</label> <br>
    <mat-form-field style=" width: 100%">
        <mat-label>Ciclo esterilizador</mat-label>
        <mat-select >
        
        </mat-select>
      </mat-form-field>
  </div>

<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->

<div style=" width: 100%; margin-left:1%; margin-right: 1%;">
    <label>Tiempo del Ciclo:</label> <br>
      <mat-form-field style=" width: 100%">
         
          <input matInput type="text" [(ngModel)]="value4">
           @if (value4) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="value4=''">
              <mat-icon>close</mat-icon>
          </button>
                          }
      </mat-form-field>  
   </div>

<!--------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------->

  <div style=" width: 100%; margin-left:1%; margin-right: 10%; text-align: center;">
    <button class="botones" style=" margin-right: 20px;">Agregar a la lavadora</button>
   </div>
</div>


<div style="display: flex; align-items: center;">
    <div style=" width: 80%; margin-left:10%; margin-right: 1%;">
      <label>Ciclo de la Lavadora:</label> <br>

        <mat-form-field style=" width: 100%">
            <input matInput type="text"  formControlName="nombreCrear">
      
                            
        </mat-form-field>  
    </div>

  <!--------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------------------------->

  <div style=" width: 100%; margin-left:1%; margin-right: 1%;">
      <label>Tiempo del Ciclo:</label> <br>

      
        <mat-form-field style=" width: 100%">
          
            <input matInput type="text"  formControlName="TiempoCicloCrear">

                            
        </mat-form-field>  
    </div>

 
  <!--------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------------------------->

    <div style=" width: 100%; margin-left:1%; margin-right: 10%; text-align: center;">
      <button class="botones" style=" margin-right: 20px; margin:auto;"  >Agregar ciclo</button>
    </div>
  </div>



<div style="display: flex; justify-content: right; padding-top: 20px; padding-right: 15%;">
  <button class="botones" style=" margin-right: 20px;">Cancelar</button>
  <button class="botones" style=" margin-right: 20px;">Guardar</button>
</div>