<div mat-dialog-title>Advertencia</div>

<div mat-dialog-content>
 <!-- This dialog allows other components to be injected into this space: -->

  <div class="injection-space" *ngIf="!!dynamicComponents$">
    <ng-container
      *ngComponentOutlet="dynamicComponents$ | async"
    ></ng-container>
  </div>
</div>


<div mat-dialog-actions align="center" >
  <button m [mat-dialog-close]="false" class="button-text" class="botones">
    Cancelar
  </button>
  <button [mat-dialog-close]="true" class="button-text" class="botones">
    Aceptar
  </button>
</div>
