<div  *ngIf="editar==false">
  <!------------------------------ INICIO DE ENCABEZADO -------------------------------->
<h2 align="center">Material de Quirófano</h2>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Recepción</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>

<!------------------------------ FILTRO -------------------------------->
<div align="end" style="width: 95%;  margin: auto;">
<form class="date-block" [formGroup]="filterForm">
    
  <mat-form-field  style=" margin: 10px;">
    <mat-label>Ingresa la Fecha</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Fecha Inicio" formControlName="fromDate">
      <input matEndDate placeholder="Fecha Final" formControlName="toDate">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  
  <button  (click)="applyFilter2()" class="botones" style=" margin: 10px;" matTooltip="Aplicar filtro">Aplicar</button>
  <button  (click)="generarPDF()" class="botones" style=" margin: 10px;" matTooltip="Aplicar filtro">Reporte</button>
 
</form>
</div>

<div style="width: 95%;  margin: auto;">
  <mat-label>Filtro: &nbsp;&nbsp;&nbsp;</mat-label>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda" #input>
  </mat-form-field>
</div>

<!------------------------------ FIN DE ENCABEZADO -------------------------------->

<div class="mat-elevation-z8" id="page-1" class="page" style="width: 95%; text-align: center; margin: auto;">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="ticket" >
      <mat-header-cell *matHeaderCellDef> Ticket </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Ticket}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef matTooltip="Fecha de la cirugía"> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Fecha| date: 'dd/MM/yyyy'}} </mat-cell>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="cirugia">
      <mat-header-cell *matHeaderCellDef> Cirugía </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Cirugia}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="sala">
      <mat-header-cell *matHeaderCellDef> Sala </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Sala}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="turno">
      <mat-header-cell *matHeaderCellDef> Turno </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Turno}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estatus">
      <mat-header-cell *matHeaderCellDef> Estatus </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Estatus}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button  [disabled]="element.Estatus != 'En Espera'"   class="botones" style=" margin-right: 20px;" matTooltip="Recibir material"  (click)="editarFila(element)" >Recibir</button></mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- <mat-row (click)="test()" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of elementos"></mat-paginator>
</div>
</div>

<app-recibirrecepcionquirofano [ticketAEditar]="ticketAEditar" *ngIf="editar==true" ></app-recibirrecepcionquirofano>