<form [formGroup]="QR">
    <div style="display: flex; width: 90%; margin-left:5%; margin-right: 5%; align-items: center; align-content: center;" >
  
      <div style="width: 65%;">
  <h1>Histórico QR: {{QRnumber}}</h1>
      </div>
  
    
  
      <div style="width: 35%; align-items: center; align-self: center; margin-top: 15px; text-align: center;">
        <mat-label>Ingresa QR: &nbsp;&nbsp;</mat-label>
        <mat-form-field  style=" width: 70% ; " >
          <input matInput type="text" placeholder="Ingresa QR" formControlName="QR"   [value]="QR.value.QR">
          <mat-icon style="color:#0f8f95;" matIconSuffix>center_focus_weak</mat-icon>
        </mat-form-field>
          <button (click)='Subir()' hidden="true">Add Row</button>
      </div>
  
  
    
  
      
  </div>
  
      </form>
  
  <br><br>
  <div style="display: flex; width: 90%; margin-left:5%; margin-right: 5%;">
  
      <table #tabla1 mat-table [dataSource]="dataSource" >
  
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
          </ng-container>
        
  
          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
          </ng-container>
        
  
          <ng-container matColumnDef="Hora">
            <th mat-header-cell *matHeaderCellDef> Hora </th>
            <td mat-cell *matCellDef="let element"> {{element.Hora}} </td>
          </ng-container>
        
  
          <ng-container matColumnDef="Evento">
            <th mat-header-cell *matHeaderCellDef> Evento </th>
            <td mat-cell *matCellDef="let element"> {{element.Evento}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Turno">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> 	Turno </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.Turno}} </td>
            </ng-container>
  
  
            <ng-container matColumnDef="Operador">
              <th mat-header-cell *matHeaderCellDef> Operador </th>
              <td mat-cell *matCellDef="let element"> {{element.Operador}} </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
  </div>
  
  
  
  
  <br><br>
  <div style="display: flex; justify-content: right;">
      <button class="botones" style=" margin-right: 5%;" (click)="createPDF()">Imprimir QR</button><br><br>
    </div>
  <br>
  <br>
