<!------------------------------ INICIO DE ENCABEZADO -------------------------------->
<h2 align="center">Recepción Proveedor Externo</h2>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Recepción</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>

<p align="end">
  <mat-form-field>
    <mat-label>Elige la fecha</mat-label>
    <input matInput [matDatepicker]="dp">
    <mat-hint>{{getDateFormatString()}}</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" class="button-text" (click)="downloadPdf()" class="botones" style=" margin: 10px;" matTooltip="Generar reporte">Reporte</button>
  <button mat-raised-button color="primary" class="button-text" class="botones" style=" margin: 10px;" matTooltip="Nueva recepción">Recepción</button>
</p>
<!------------------------------ FILTRO -------------------------------->
<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda" #input>
</mat-form-field>

<!------------------------------ FIN DE ENCABEZADO -------------------------------->

<div class="mat-elevation-z8" id="page-1" class="page">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="ticket">
      <mat-header-cell *matHeaderCellDef> Ticket </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ticket}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef matTooltip="Fecha de la cirugía"> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="instrumental">
      <mat-header-cell *matHeaderCellDef> Instrumental </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.instrumental}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="proveedor">
      <mat-header-cell *matHeaderCellDef> Proveedor </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.proveedor}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="responsable">
      <mat-header-cell *matHeaderCellDef> Responsable </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.responsable}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- <mat-row (click)="test()" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of elementos"></mat-paginator>
</div>
