<!------------------------------ INICIO DE ENCABEZADO -------------------------------->
<h2 align="center">Almacén General</h2>


<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">CEYE</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>

<div align="end" style="width: 95%;  margin: auto;">
  <button class="botones"  (click)="generarPDF()" style=" margin: 5px;" matTooltip="Generar reporte">Reporte</button>
  <button class="botones" style=" margin: 5px;" matTooltip="Recepción de Material" (click)="leerCodigoQR()" >Recepción</button>
</div>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Buscador</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>


 <div align="end" style="width: 95%;  margin: auto;">
  <form class="date-block" [formGroup]="filterForm">
  <mat-form-field class="menu_desplegable">
    <mat-label>Área</mat-label>
    <mat-select (selectionChange)="changeArea($event.value)">
      <mat-option *ngFor="let x of area; let i = index" [value]="area[i].tipo">{{area[i].tipo}}</mat-option>
    </mat-select>
  </mat-form-field> 

  <mat-form-field class="menu_desplegable">
    <mat-label>Turno</mat-label>
    <mat-select (selectionChange)="changeArea($event.value)">
      <mat-option *ngFor="let x of turno; let i = index" [value]="turno[i]">{{turno[i].id}}</mat-option>
    </mat-select>
  </mat-form-field> 


<!------------------------------ FILTRO -------------------------------->

 
      
    <mat-form-field  style=" margin: 10px;">
      <mat-label>Ingresa la Fecha</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Fecha Inicio" formControlName="fromDate">
        <input matEndDate placeholder="Fecha Final" formControlName="toDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button  (click)="applyFilter2()" class="botones" style=" margin: 10px;" matTooltip="Aplicar filtro">Aplicar</button>
  
  </form>
</div>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Resultados</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>

<div style="width: 95%;  margin: auto;">
  <mat-label>Filtro: &nbsp;&nbsp;&nbsp;</mat-label>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda" #input>
  </mat-form-field>
</div>


<!------------------------------ FIN DE ENCABEZADO -------------------------------->

<div class="mat-elevation-z8" id="page-1" class="page" style="width: 95%; text-align: center; margin: auto;">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Symbol Column -->
        <ng-container matColumnDef="prioridad">
            <mat-header-cell *matHeaderCellDef> Prioridad </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
      
              <button mat-fab class="boton_alta" *ngIf="element.Prioridad == 'alta' " >alta</button>
              <button mat-fab class="boton_media" *ngIf="element.Prioridad == 'media' ">media</button>
              <button mat-fab class="boton_baja" *ngIf="element.Prioridad == 'baja' ">baja</button>
              
            </mat-cell>
          </ng-container>

              <!-- Name Column -->
    <ng-container matColumnDef="caducidad">
        <mat-header-cell *matHeaderCellDef matTooltip="Fecha de caducidad"> Caducidad</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Caducidad}} </mat-cell>
      </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="recepcion">
      <mat-header-cell *matHeaderCellDef matTooltip="Fecha recepción"> Recepción </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Recepcion}} </mat-cell>
    </ng-container>




    <!-- Symbol Column -->
    <ng-container matColumnDef="QR">
      <mat-header-cell *matHeaderCellDef matTooltip="Código QR"> QR</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.QR}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef matTooltip="Nombre del material"> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Nombre}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="proveedor">
      <mat-header-cell *matHeaderCellDef matTooltip="Proveedor externo"> Proveedor </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Proveedor}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ubicacion">
      <mat-header-cell *matHeaderCellDef matTooltip="Ubicación"> Ubicación </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Ubicacion}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let element">  <button class="botones" style=" margin-right: 20px;" matTooltip="Transferir a otro almacén" (click)="emergente()">Transferir</button> </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- <mat-row (click)="test()" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of elementos"></mat-paginator>
</div>

