<h2 align="center">Recepción Otras Áreas Hospitalarias</h2>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Vales a la CEyE por Material, Equipo o Instrumental</div>
  <div class="line"><mat-divider></mat-divider></div>
</div><br>


<div style="display: flex; width: 90%; margin-left: 5%; margin-right: 5%;">
    <div style="width: 50%; text-align: left;">
      <h1>Registro</h1>
    </div>
    <div style="width: 50%; text-align: right;">
        <h1>Ticket: {{ticket}}</h1>
    </div>
</div>




<table class="alinear-input" align="center">
    <!------------------------------------------------------------              fila 1                                ----------------------------------------------------------------->
      <tbody><tr>
        <td>
          <mat-label>Área: &nbsp;</mat-label>
        </td>
    
        <td>
          <mat-form-field class="input1">
            <input matInput type="text" >
          </mat-form-field>
        </td>
    
        <td>
          <mat-label>Fecha de Préstamo: &nbsp;</mat-label>
        </td>
    
        <td>
          <mat-form-field class="input2">
            <input matInput type="text" placeholder="22 de septiembre 2023" >
          </mat-form-field>
        </td>
      </tr>
    
    <!------------------------------------------------------------              fila 2                                ----------------------------------------------------------------->
    
      <tr>
        <td>
          <mat-label>Recepción: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
        </td>
    
        <td>
          <mat-form-field class="input1">
            <input matInput type="text" placeholder="José Lino" >
            </mat-form-field>
        </td>
    
        <td>
          <mat-label>Entrega: &nbsp;</mat-label>
        </td>
    
        <td>
          <mat-form-field class="input2">
            <input matInput type="text" placeholder="Casimiro Gomez" >
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table><br>

  <table class="alinear-input" align="center"> 
  <tbody>
        <tr style="width: 100%;">
        <td style="width: 14%;">
          <mat-label>Devolución:</mat-label>
        </td>
        <td style="width: 86%;">
          <mat-form-field class="textarea">
            <input matInput type="text" placeholder="José Lino" >
          </mat-form-field>
        </td>
      </tr>
    <tr style="width: 100%;">
      <td style="width: 14%;">
        <mat-label>Notas Adicionales:</mat-label>
      </td>
      <td style="width: 86%;">
        <mat-form-field class="textarea">
          <textarea matInput placeholder="3 Pinzas H. extras para la cirugía "></textarea>
        </mat-form-field>
      </td>
    </tr>
</tbody>
  </table>

<!------------------------------------------------------- TARJETA DE INDENTIFICACION ------------------------------------->
    <div style="text-align: center;">
         <h1>Tarjeta de Identificación de Dispositivos Médicos</h1>
    </div><br>



    <div style="display: flex; width: 90%; margin-left: 5%; margin-right: 5%;">
       <div style="width: 70%; text-align: right;"> <h1>Fecha: {{fecha}}</h1></div>
       <div style="width: 17%; text-align: right;"> <h1>Hora: {{hora}}</h1></div>
       <div style="width: 13%; text-align: right;"> <h1>Turno: {{turno}}</h1></div>
   </div><br><br>



    <div style="display: flex; width: 90%; margin-left: 5%; margin-right: 5%;">
        <h2>Proceso de Recepción, Clasificación y Lavado de Dispositivos e Instrumental.</h2>
    </div>



<div style="display: flex; width: 90%; margin-left: 5%; margin-right: 5%;">

    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element; let i = dataSource1"> {{element.Id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Instrumental">
          <th mat-header-cell *matHeaderCellDef> Instrumental </th>
          <td mat-cell *matCellDef="let element"> {{element.Instrumental}} </td>
        </ng-container>
      
 
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
        </ng-container>
      

        <ng-container matColumnDef="Marca_Comercial">
          <th mat-header-cell *matHeaderCellDef> Marca Comercial </th>
          <td mat-cell *matCellDef="let element"> {{element.Marca_Comercial}} </td>
        </ng-container>

        
        <ng-container matColumnDef="Prelavado">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Prelavado </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> 
              <mat-icon (click)="element.status1=!element.status1" #first ion-button color="accent" (click)="btnActivate(first)" class="icono" >{{element.status1 ? 'cancel' : 'check_circle' }}</mat-icon>
          </td>
        </ng-container>


        <ng-container matColumnDef="Completo">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Completo </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> 
              <mat-icon  (click)="disabledInput1 = !disabledInput1" (click)="element.status2=!element.status2" #first ion-button color="accent" (click)="btnActivate(first)" class="icono" >{{element.status2 ? 'cancel' : 'check_circle' }}</mat-icon>
          </td>
        </ng-container>


        <ng-container matColumnDef="Funcional">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">  Funcional </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                <mat-icon (click)="element.status3=!element.status3" #first ion-button color="accent" (click)="btnActivate(first)" class="icono" >{{element.status3 ? 'cancel' : 'check_circle' }}</mat-icon>
            </td>
        </ng-container>
        

        <ng-container matColumnDef="Cantidad_Recibida">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">  Cantidad Recibida </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">   
                <mat-form-field style=" width: 50%; margin-top: 10%;">
                    <input matInput type="number" min="0"  step="1" value="0" [disabled]="!element.status2">
                  </mat-form-field> 
            </td>
        </ng-container>


        <ng-container matColumnDef="insidencia">
          <th mat-header-cell *matHeaderCellDef style="text-align: left; width: 10%;"> </th>
          <td mat-cell *matCellDef="let element" style="text-align: left;">   
            <mat-icon aria-hidden="false" aria-label="Example home icon"  (click)="emergente1()" fontIcon="warning" class="icono2" *ngIf="element.status1 || element.status2 || element.status3"></mat-icon>
          </td>
      </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
</div><br>



<div style="display: flex; width: 90%; margin-left: 5%; margin-right: 5%;">
    <h2>Proceso de Recepción, Clasificación y Lavado de Dispositivos e Instrumental por Set</h2>
</div>

<div style="display: flex; width: 90%; margin-left: 5%; margin-right: 5%;">
        <mat-accordion style="width: 100%;">
            <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Set 2 Laparotomía
                </mat-panel-title>
        
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                <ng-container matColumnDef="Id">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Instrumental">
                  <th mat-header-cell *matHeaderCellDef> Instrumental </th>
                  <td mat-cell *matCellDef="let element"> {{element.Instrumental}} </td>
                </ng-container>
              
         
                <ng-container matColumnDef="Cantidad">
                  <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                  <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
                </ng-container>
              
        
                <ng-container matColumnDef="Marca_Comercial">
                  <th mat-header-cell *matHeaderCellDef> Marca Comercial </th>
                  <td mat-cell *matCellDef="let element"> {{element.Marca_Comercial}} </td>
                </ng-container>
        
                
                <ng-container matColumnDef="Prelavado">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Prelavado </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                      <mat-icon (click)="element.status4=!element.status4" #first ion-button color="accent" (click)="btnActivate(first)" class="icono" >{{element.status4 ? 'cancel' : 'check_circle' }}</mat-icon>
                  </td>
                </ng-container>
        
        
                <ng-container matColumnDef="Completo">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Completo </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                      <mat-icon (click)="element.status5=!element.status5" #first ion-button color="accent" (click)="btnActivate(first)" class="icono" >{{element.status5 ? 'cancel' : 'check_circle' }}</mat-icon>
                  </td>
                </ng-container>
        
        
                <ng-container matColumnDef="Funcional">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">  Funcional </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                      <mat-icon (click)="element.status6=!element.status6" #first ion-button color="accent" (click)="btnActivate(first)" class="icono" >{{element.status6 ? 'cancel' : 'check_circle' }}</mat-icon>
                  </td>
                </ng-container>
                
        
                <ng-container matColumnDef="Cantidad_Recibida">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">  Cantidad Recibida </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">   
                      <mat-form-field style=" width: 50%; margin-top: 10%;">
                          <input matInput type="number" min="0"  step="1" value="0" [disabled]="!element.status5">
                        </mat-form-field> 
                  </td>
                </ng-container>


                <ng-container matColumnDef="insidencia">
        <th mat-header-cell *matHeaderCellDef style="text-align: left; width: 10%;"> </th>
          <td mat-cell *matCellDef="let element" style="text-align: left;">   
                    <mat-icon aria-hidden="false" aria-label="Example home icon"  (click)="emergente1()" fontIcon="warning" class="icono2" *ngIf="element.status4 || element.status5 || element.status6"></mat-icon>
                  </td>
              </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
              </table>
            </mat-expansion-panel>
            
        </mat-accordion><br>
</div><br>

    <div style="display: flex; justify-content: right; width: 90%; margin-left: 5%; margin-right: 5%;">
          <button class="botones" style=" margin-right: 20px;">Cancelar</button>
          <button class="botones" style=" margin-right: 20px;">Guardar</button>
        </div>



        