<div align="center" mat-dialog-title>Reporte de Incidencias</div>

<br><br>
  <div style="width: 800px;">
  
      <div align="center">
       </div>
      
   
    
      
    
      <div style="width: 100%; display: flex;">
       
          <div style="width: 35%;  margin-left: 10%;" >
              <section class="example-section" >
                  <div style="width: 50%;text-align: center;"><h4>Categoría:</h4></div>
  
                  <mat-radio-group [(ngModel)]="valorI">
                      <mat-radio-button class="example-margin" value="Incompleto">Incompleto</mat-radio-button><br>
                      <mat-radio-button class="example-margin" value="Perdida">Perdida</mat-radio-button><br>
                      <mat-radio-button class="example-margin" value="Mantenimiento">Mantenimiento</mat-radio-button><br>
                      <mat-radio-button class="example-margin" value="Falla">Falla</mat-radio-button><br>   
                      <mat-radio-button class="example-margin" value="Otra">Otra</mat-radio-button><br>   
                    </mat-radio-group>
                </section>
          </div>
          
          <div style="text-align: center; width: 65%; align-items: center;">
              <h4>Reporte:</h4>
              <mat-form-field style="width: 90%; margin-left: 2%; margin-right: 8%; margin-bottom: 15%; ;">
                  
                  <textarea matInput placeholder="Ingrese su reporte" style="width: 100%;" [(ngModel)]='comentario'></textarea>
                </mat-form-field>
          </div>
      </div><br>
  
  </div>

<div mat-dialog-actions align="center" >
  <button  [mat-dialog-close]="false" class="button-text" class="botones">
    Cancelar
  </button>
  <button  [mat-dialog-close]="true" class="button-text" class="botones">
    Aceptar
  </button>
</div>
