.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .line {
    flex: 1;
  }
  
  .text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .element-row {
    position: relative;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  .button-text {
    padding: 5px 30px 5px 30px; 
    margin: 20px 8px;
}
.botoneditar {
  margin: 20px 4px;
}
.botoneliminar {
  margin: 20px 4px;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    width: 600px;
    text-align: center;
    margin-top: 20px;
  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .botones {
    width: 100px;
    height: 40px;
    margin: 20px;
    text-align: center;
    background-color: #0f8f95;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 15px;
}


.botones:hover {
    text-align: center;
    background-color: #38b6ff;
    border: none;
    color: white;
    font-weight: 700;
}