<!------------------------------ INICIO DE ENCABEZADO -------------------------------->
<h2 align="center">Otras Áreas Hospitalarias</h2>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Recepción</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>

<div align="end">
  <mat-form-field>
    <mat-label>Elige la fecha</mat-label>
    <input matInput [matDatepicker]="dp">
    <mat-hint>{{getDateFormatString()}}</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  
  <button mat-raised-button color="primary" class="button-text" (click)="generarPDF()" class="botones" style=" margin: 10px;" matTooltip="Generar reporte">Reporte</button>
  <button mat-raised-button color="primary" class="button-text" class="botones" style=" margin: 10px;" matTooltip="Nueva recepción" (click)="goPlaces2()">Recepción</button>
</div>
<!------------------------------ FILTRO -------------------------------->
<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda" #input>
</mat-form-field>

<!------------------------------ FIN DE ENCABEZADO -------------------------------->

<div class="mat-elevation-z8" id="page-1" class="page">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="ticket">
      <mat-header-cell *matHeaderCellDef> Ticket </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Ticket}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef matTooltip="Fecha de la cirugía"> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Fecha}} </mat-cell>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="area">
      <mat-header-cell *matHeaderCellDef> Áreas</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Area}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="sala">
      <mat-header-cell *matHeaderCellDef> Sala </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Sala}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="turno">
      <mat-header-cell *matHeaderCellDef> Turno </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Turno}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estatus">
      <mat-header-cell *matHeaderCellDef> Estatus </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Estatus}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let element">  <button class="botones" style=" margin-right: 20px;" matTooltip="Recibir material" (click)="goPlaces()">Recibir</button> </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- <mat-row (click)="test()" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of elementos"></mat-paginator>
</div>
